<%-include header.ejs %>


    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/eva/search">search</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- INFLUENCER HEADER INFO -->
    <div class="row">
      <div class="col-md-2">
        <img src="<%= tweets[0].user.profile_image_url%>">
      </div>
      <div class="col-md-7">
        <h1><%= tweets[0].user.name %></h1>
        <h4><%= tweets[0].user.description %></h4> 
        <p><%= tweets[0].user.location %></p>
      </div>

      <!-- SAVE TO FAVORITES BUTTON -->
      <div class="col-md-3">
        <form action="/user_influencers/twitter/<%= handle %>" method="post">
          <input type="hidden" name="influencer[fullname]"value="<%= tweets[0].user.name %>">
          <input type="submit" value="Save To Favorites">
        </form>
      </div>
    </div>

      <!-- INFLUENCER RESULTS -->
     <div class="row">
      <div class="col-md-6">
        <% tweets.forEach(function (tweet) { %>
          <img src="<%= tweet.user.profile_image_url%>">
          <p><h4><%= tweet.text %></h4></p>
          <p>Retweets: <%= tweet.retweet_count %> Favorites: <%= tweet.favorite_count %></p>
        <% }); %>
      </div>
    </div>


<%-include footer.ejs %>


