<%-include header.ejs %>


    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a href="/home">home</a></li>
            <li><a href="/eva/search">search</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <h2><%= tweets[0].user.name %></h2>
      <img src="<%= tweets[0].user.profile_image_url%>">
      <h3><%= tweets[0].user.location %></h3>
      <p><%= tweets[0].user.description %></p> 
    </div>

    <div>
      <% tweets.forEach(function (tweet) { %>
        <p><h4>Tweet: <%= tweet.text %></h4></p>
        <p>Retweets: <%= tweet.retweet_count %> Favorites: <%= tweet.favorite_count %></p>
        <p>Time Posted: <%= tweet.created_at %></p>
      <% }); %>
    </div>

<%-include footer.ejs %>


