<!DOCTYPE html>
<html>
<head>
  <title> Eva Chen - Instagram </title>
</head>
<body>

<nav>
  <a href="/">welcome page</a>
</nav>

<header>
    <h1>Eva Chen</h1>
    <h3>editor in chief/compulsive shopper/new yorker/nerd</h3>
    <a href="/eva/eva"><img src="https://pbs.twimg.com/profile_images/447527132097286144/t9IvCFgb.png"></a> 
</header>


  <a href="/eva/tweets">Twitter</a>
  <a href="/eva/insta">Instagram</a>


<div>
  <% users.forEach(function (user) { %>
    <p><img src="<%= user.images.low_resolution.url %>"></p>
    <p><a href="<%= user.link %>">Visit Instagram</a></p>
    <p><%= user.caption.text %></p>
    <p>Filter Used: <%= user.filter %></p>
    <p>Likes: <%=  user.likes.count %> Comment Count: <%= user.comments.count %></p>
  <% }) %>
</div>

</body>
</html>